# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment files
.env
.env.local

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/